<!DOCTYPE html>
<html lang="fr">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="The incredible website to know everything about snowboard's tricks!">
    <meta name="author" content="Fabian Rupin">

    <title>{% block title %}Welcome!{% endblock %}</title>

    {% block stylesheets %}
        <!-- Bootstrap custom styles for this template -->
        <link href="{{ asset('css/modern-business.css') }}" rel="stylesheet">
    {% endblock %}

</head>
<body>

{% block nav %}
    <!-- Navigation -->
    <nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-dark fixed-top">
        <div class="container">

            <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a class="nav-link" href={{ path('homepage') }}>Tricks</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href={{ path('user-login') }}>Log in</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href={{ path('homepage') }}>Sign up</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href={{ path('homepage') }}>Sign out</a>
                    </li>

                </ul>
            </div>
        </div>
    </nav>
{% endblock %}

{% block body %} {% endblock %}

{% block footer %}
    <!-- Footer -->
    <footer class="py-5 bg-dark">
        <div class="container">
            <p class="m-0 text-center text-white">Copyright &copy; Fabian Rupin 2018</p>
        </div>
    </footer>

{% endblock %}

{% block javascripts %}
    <script src="{{ asset('js/jquery/jquery.min.js') }}"></script>
    <script src="{{ asset('js/bootstrap/bootstrap.bundle.min.js') }}"></script>
    <script src="{{ asset('js/modern-business/contact_me.js') }}"></script>
    <script src="{{ asset('js/modern-business/jqBootstrapValidation.js') }}}"></script>
{% endblock %}

</body>
</html>
