<nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-dark fixed-top">
    <div class="container">

        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse"
                data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false"
                aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link" href={{ path('trick_list') }}>{{ 'nav.title.tricks'|trans({}, 'nav') }}</a>
                </li>

                {% if is_granted('ROLE_USER') %}
                    <li class="nav-item">
                        <a class="nav-link" href={{ path('user_logout') }}>{{ 'nav.title.logout'|trans({}, 'nav') }}</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href={{ path('trick_create') }}>{{ 'nav.title.newtrick'|trans({}, 'nav') }}</a>
                    </li>
                {% else %}
                    <li class="nav-item">
                        <a class="nav-link" href={{ path('user_signup') }}>{{ 'nav.title.signup'|trans({}, 'nav') }}</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href={{ path('user_login') }}>{{ 'nav.title.login'|trans({}, 'nav') }}</a>
                    </li>
                {% endif %}

            </ul>
        </div>
    </div>
</nav>
