{% extends 'base.html.twig' %}

{% block title %}Snowtricks! | Homepage{% endblock %}

{% block body %}

    <!-- Page Content -->
    <div class="container">

        <!-- Portfolio Item Row -->
        {% if trick.photos|first() %}
            {% set urlBackgroundPhoto = asset('photos/'~trick.photos|first().filename) %}
        {% else %}
            {% set urlBackgroundPhoto = 'http://placehold.it/1250x500' %}
        {% endif %}

        <div class="row trick-show frontpage-image" style="background-image: url({{ urlBackgroundPhoto }}) ">

            <div class="trick-icons">
                <a href="{{ path('trick_edit', {'slug':trick.slug}) }}" class="fa fa-pencil"></a>
                <a href="{{ path('trick_delete', {'slug':trick.slug}) }}" class="fa fa-trash"></a>
            </div>
            <div class="col-md-12 frontpage-title">
                <h1 class="display-2">{{ trick.name }}</h1>
            </div>
        </div>

        <div class="row trick-show">
            {% for photo in trick.photos %}
                <div class="col-md-3 col-sm-6 mb-4">
                    <div class="trick-icons">
                        <a href="#" class="fa fa-pencil"></a>
                        <a href="{{ path('trick_delete', {'slug':trick.slug}) }}" class="fa fa-trash"></a>
                    </div>

                    <img class="img-fluid" src="{{ asset('photos/'~photo.filename) }}" alt="">

                </div>
            {% endfor %}

            {% for video in trick.video %}
                <div class="col-md-3 col-sm-6 mb-4">
                    <a href="#">
                        <img class="img-fluid" src="http://placehold.it/500x300" alt="">
                    </a>
                </div>
            {% endfor %}

        </div>

        <!-- Contact Form -->
        <div class="row">
            <div class="col-lg-8 mb-4">

                {{ form_start(trickForm) }}

                {{ form_row(trickForm.name) }}
                {{ form_row(trickForm.description) }}
                {{ form_row(trickForm.trickGroup) }}
                {{ form_row(trickForm.photos) }}

                <button type="submit" class="btn btn-primary"
                        formnovalidate>{{ 'trick.form.label.modify'|trans({}, 'form') }}</button>

                {{ form_end(trickForm) }}

            </div>
        </div>
        <!-- /.row -->
    </div>
    <!-- /.container -->

{% endblock %}
