{% extends 'base.html.twig' %}

{% block title %}Snowtricks! | Homepage{% endblock %}

{% block body %}

    <!-- Page Content -->
    <div class="container">

        <!-- Portfolio Item Row -->
        {% if trick.photos|first() %}
            {% set urlBackgroundPhoto = asset('photos/'~trick.photos|first().filename) %}
        {% else %}
            {% set urlBackgroundPhoto = 'http://placehold.it/1250x500' %}
        {% endif %}

        <div class="row trick-show frontpage-image" style="background-image: url({{ urlBackgroundPhoto }}) ">
            <div class="col-md-12 frontpage-title">
                <h1 class="display-2">{{ trick.name }}</h1>
            </div>
        </div>

        <div class="row trick-show">
            {% for photo in trick.photos %}
                <div class="col-md-3 col-sm-6 mb-4">
                    <div class="card">
                        <img class="img-fluid" src="{{ asset('photos/'~photo.filename) }}" alt="">
                    </div>
                    <div class="card-body">
                        <p class="card-title">
                            <a href="#" class="fa fa-pencil"></a>
                            <a href="{{ path('photo_delete', {'id':photo.id}) }}" class="fa fa-trash"></a>
                        </p>
                    </div>
                </div>
            {% endfor %}

            {% for video in trick.videos %}
                <div class="col-md-3 col-sm-6 mb-4">
                    <div class="card">
                        {{ video|embedded_video }}
                    </div>
                    <div class="card-body">
                        <p class="card-title">
                            <a href="{{ path('trick_remove_video', {
                                'slug': trick.slug,
                                'id': video.id
                            }) }}" class="fa fa-trash"></a>
                        </p>
                    </div>
                </div>

            {% endfor %}

        </div>

        <!-- Trick modification form -->
        <div class="row">
            <div class="col-lg-8 mb-4">

                {{ form_start(trickForm) }}

                {{ form_row(trickForm.name) }}
                {{ form_row(trickForm.description) }}
                {{ form_row(trickForm.trickGroup) }}
                {{ form_row(trickForm.photos) }}

                <ul class="videos"
                    data-prototype="{{ form_widget(trickForm.videos.vars.prototype)|e }}">

                    {% for video in trickForm.videos %}
                        <li>
                            {{ form_row(video) }}
                        </li>
                    {% endfor %}
                </ul>

                <button type="submit" class="btn btn-primary"
                        formnovalidate>{{ 'trick.form.button.modify'|trans({}, 'form') }}</button>

                {{ form_end(trickForm) }}

            </div>
        </div>
        <!-- /.row -->
    </div>
    <!-- /.container -->

{% endblock %}
