{% extends 'base.html.twig' %}

{% block title %}Snowtricks! | create trick{% endblock %}

{% block body %}

    <!-- Page Content -->
    <div class="container">

        <!-- Page Heading/Breadcrumbs -->
        <h1 class="mt-4 mb-3">{{ 'trick.header.new.title'|trans({}, 'form') }}</h1>

        <!-- Contact Form -->
        <div class="row">
            <div class="col-lg-8 mb-4">

                {{ form_start(trickForm) }}

                    {{ form_row(trickForm.name) }}
                    {{ form_row(trickForm.description) }}
                    {{ form_row(trickForm.trickGroup) }}

                    <button type="submit" class="btn btn-primary" formnovalidate>{{ 'trick.form.label.submit'|trans({}, 'form')}}</button>

                {{ form_end(trickForm) }}

            </div>
        </div>
        <!-- /.row -->
    </div>
    <!-- /.container -->

{% endblock %}
