{% extends 'base.html.twig' %}

{% block title %}Snowtricks! | {{ trick.name }}{% endblock %}

{% block body %}

    <!-- Page Content -->
    <div class="container">

        {% if trick.thumbnailPhoto %}
            {% set urlBackgroundPhoto = asset('photos/'~trick.thumbnailPhoto.filename) %}
        {% elseif not trick.photos is empty %}
            {% set urlBackgroundPhoto = asset('photos/'~trick.photos|first.filename) %}
        {% else %}
            {% set urlBackgroundPhoto = 'http://placehold.it/1250x500' %}
        {% endif %}

        <div class="row mb-5 frontpage-image" style="background-image: url({{ urlBackgroundPhoto }}) ">

            <div class="trick-icons">
                <a href="{{ path('trick_edit', {'slug':trick.slug}) }}" class="fa fa-pencil"></a>
                <a href="{{ path('trick_delete', {'slug':trick.slug}) }}" class="fa fa-trash"></a>
            </div>
            <div class="col-md-12 frontpage-title">
                <h1 class="display-2">{{ trick.name }}</h1>
            </div>
        </div>


        <button class="btn" data-action="display-medias-mobile">afficher medias</button>


        <div class="row mb-5 media-wrapper">
            {% for photo in trick.photos %}
                <div class="col-md-3 col-sm-6 mb-4">
                    <a href="#">
                        <img class="img-fluid" src="{{ asset('photos/'~photo.filename) }}" alt="">
                    </a>
                </div>
            {% endfor %}

            {% for video in trick.videos %}
                <div class="col-md-3 col-sm-6 mb-4">
                    {{ video|embedded_video }}
                </div>
            {% endfor %}

        </div>

        {#todo: mettre dans un fichier spécifique#}
        <script>
            const showMediaButton = document.querySelector("[data-action='display-medias-mobile']");

            showMediaButton.addEventListener("click", function (event) {
                const mediaWrapper = document.querySelector(".media-wrapper");

                mediaWrapper.classList.toggle('media-wrapper__hide');
            })
        </script>

        <div class="row">
            <div class="col-md-12">
                <p>{{ trick.description }}</p>
            </div>
        </div>

        <div class="row text-center">
            <div class="col-md-12">
                <span class="badge badge-secondary trick-info">
                {{ 'trick.show.date.creation'|trans({'%date%':trick.createdAt|localizeddate}, 'trick') }}
                </span>
                <span class="badge badge-secondary trick-info">
                {{ 'trick.show.date.modification'|trans({'%date%':trick.updatedAt|localizeddate}, 'trick') }}
                </span>
                {% if trick.trickGroup.name is defined %}
                    <span class="badge badge-primary trick-info">{{ trick.trickGroup.name }}</span>
                {% else %}
                    <span class="badge badge-primary trick-info">{{ 'trick.show.group.nogroup'|trans({}, 'trick') }}</span>
                {% endif %}
            </div>
        </div>

        <hr/>


        <!-- Comments Form -->
        <div class="container">
            {% if is_granted('ROLE_USER') %}
                <div class="row">
                    <div class="col-lg-10 col-md-10 mx-auto">

                        {{ form_start(commentForm) }}

                        {{ form_row(commentForm.content) }}

                        <button class="btn btn-secondary" type="submit">
                            {{ 'trick.show.comment.submit'|trans({}, 'form') }}
                        </button>

                        {{ form_end(commentForm) }}

                    </div>
                </div>
            {% endif %}
            <hr/>

            <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-md-10 mx-auto">
                        {% for comment in trick.comments %}
                            <div class="media mb-4">
                                <img class="d-flex mr-3 rounded-circle" src="http://placehold.it/50x50" alt="">
                                <div class="media-body">
                                    <h5 class="mt-0">
                                        {{ comment.user.firstname }}{{ 'trick.show.comment.date'|trans({'%date%':comment.createdAt|localizeddate }, 'trick') }}
                                    </h5>
                                    {{ comment.content }}
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>


        </div>
    </div>

    <!-- /.container -->

{% endblock %}
