{% extends 'base.html.twig' %}

{% block title %}{{ 'forgot.title'|trans({}, 'user') }}{% endblock %}

{% block body %}

    <div class="container">

        <h1 class="mt-4 mb-3">{{ 'user.header.forgot.title'|trans({}, 'form') }}
        </h1>

        <div class="row">
            <div class="col-lg-8 mb-4">

                {{ form_start(user_forgot_pass_form) }}

                {{ form_row(user_forgot_pass_form.email) }}

                <div><a href={{ path('user_login') }}>{{ 'user.form.label.remindPass'|trans({}, 'form') }}</a></div>


                <button type="submit" class="btn btn-primary" formnovalidate>
                    {{ 'user.form.label.submit.forgot'|trans({}, 'form') }}
                </button>

                {{ form_end(user_forgot_pass_form) }}

            </div>
        </div>
    </div>

{% endblock %}
