{% extends 'base.html.twig' %}

{% block title %}Snowtricks! | Homepage{% endblock %}

{% block body %}

    <!-- Page Content -->
    <div class="container">

        <!-- Page Heading/Breadcrumbs -->
        <h1 class="mt-4 mb-3">{{ 'user.header.signup.title'|trans({}, 'form') }}</h1>

        <!-- Contact Form -->
        <div class="row">
            <div class="col-lg-8 mb-4">

                {{ form_start(userSignup) }}

                    {{ form_row(userSignup.firstname) }}
                    {{ form_row(userSignup.lastname) }}
                    {{ form_row(userSignup.email) }}
                    {{ form_row(userSignup.plainPassword) }}

                    <button type="submit" class="btn btn-primary" formnovalidate>{{ 'user.form.label.submit'|trans({}, 'form') }}</button>

                {{ form_end(userSignup) }}

            </div>
        </div>
        <!-- /.row -->
    </div>
    <!-- /.container -->

{% endblock %}
