{% extends 'base.html.twig' %}

{% block title %}{{ 'signup.title'|trans({}, 'user') }}{% endblock %}

{% block body %}

    <div class="container">

        <h1 class="mt-4 mb-3">{{ 'user.header.signup.title'|trans({}, 'form') }}</h1>

        <div class="row">
            <div class="col-lg-8 mb-4">

                {{ form_start(userSignup) }}

                    {{ form_row(userSignup.firstname) }}
                    {{ form_row(userSignup.lastname) }}
                    {{ form_row(userSignup.email) }}
                    {{ form_row(userSignup.plainPassword) }}

                    <button type="submit" class="btn btn-primary" formnovalidate>{{ 'user.form.label.submit'|trans({}, 'form') }}</button>

                {{ form_end(userSignup) }}

            </div>
        </div>
    </div>

{% endblock %}
